*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: "poppins", sans-serif;
    background-color: #525252;
    color: white;
}

.warna{
    color: #160101;
}

/* header */
.kotaknavbar{
    background-color: #312E2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}
.judul{
    margin: 0px 0px 0px 50px;
    color:  lightgray;
}

.navbar{
    margin: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin: 0px 10px;
}

.navbar a:hover{
    color: #44d62c;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

/* main */
.utama{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.utama img{
    width: 250px;
}

.utama h2{
    color: #160101;
}

.logo img{
    margin: 10px;
    width: 40px;
}

.idprojek{
    margin-bottom: 100px;
}

.hal2 {
    text-align: center;
    margin-bottom: 100px;
}

.kotakprojek{
    color:  lightgray;
    background-color: #312E2E;
    margin: 0px 200px;
    border-radius: 20px;
}

.gambarprojek{
    display: flex;
    justify-content: space-around;
    background-color: #615757;
    padding: 20px 0;
    margin: 0 20px;
    border-radius: 20px;
}

.gambarprojek div{
    flex-wrap: nowrap;
    background-color: #312E2E;
    padding: 20px;
    border-radius: 20px;
}

.gambarprojek img{
    width: px;
    height: 150px;
}

.idabout{
    margin-bottom: 200px;
}

.tentang{
    text-align: center;
}

.judulabout{
    background-color: #312E2E;
    margin: 0px 200px;
    border-radius: 20px;
    color:  lightgray;
}
.sideprofil{
    background-color: #312E2E;
    width: 150px;
    height: 450px;
    text-align: center;
    margin-bottom: 50px;
}

.sideprofil img{
    width: px;
    height: 150px;
    border-radius: 150px;
    margin: 20px;
}

.daftar{
    color: #44d62c;
}

.textabout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textabout p{
    margin-top: auto;
    text-align: center;
    margin-top: -600px;
    margin-bottom: 200px
}


/* footer */
.bawah{
    background-color: #312E2E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 7px 7px 7px 15px rgba(0, 0, 0, 0.5);
}

.kontakbawah{
    display: flex;
    margin: 0px 50px;
}

.kontakbawah img{
    margin: 10px;
    width: 40px;
}

.kontakbawah h2{
    color:  #44d62c;
    margin-right: 25px;
}